* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: #444;
  border-top: 10px solid #1098ad;
  position: relative;
}

.container {
  width: 700px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}

.main-header {
  background-color: #f7f7f7;
  /* padding: 20px; */
  padding: 20px 40px;
  margin-bottom: 60px;
}

article {
  margin-bottom: 50px;
}

.blog-header {
  margin-bottom: 40px;
}

nav {
  font-size: 18px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 0;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

/* Pseudo element selector */
h1::first-letter {
  font-style: normal;
}

h2 {
  /* color: blue; */
  /* background-color: pink; */
  font-size: 42px;
  margin-bottom: 50px;
  position: relative;
}

h2::after {
  content: "TOP";
  background-color: orange;
  color: black;
  font-size: 20px;
  font-weight: bold;
  /* display: inline-block; */
  padding: 5px 10px;
  position: absolute;
  top: -15px;
  right: -25px;
}
/* Increase font size of first letter of header */
/* h2::first-letter {
  font-size: 80px;
} */

h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

/* Make first line after paragraph header red color */
h3 + p::first-line {
  color: red;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 30px;
}

/* make first line of every line paragraph red color */
/* p::first-line {
  color: red;
} */

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

/* li:nth-child(2) {
  color: red;
} */

/* Order of anchor states is important */
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

.blog-image {
  width: 100%;
  height: auto;
}

.like-button {
  padding: 15px;
  font-size: 22px;
  cursor: pointer;
  bottom: 50px;
  right: 50px;

  position: absolute;
}
/* 
.copyright {
  color: blue;
}

.text {
  color: red;
}

#copyright {
  color: green;
}

footer p {
  color: orange;
} */
